body{
    background-color: hotpink;
    text-align:center;
    font-size: 15px;
    
    
}

img{
    width: 350px;
}

img {
    border-radius: 70px;
  }

  .itemmenu{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
    color:black;
  }

  div.box{
    font-size: 50px;
  }

  #livros {
    text-align: justify; /* Alinh.amento justificado */
    font-size: 21px;
    margin: 10px;
}

#livros2 {
  text-align: center; 
}

#filmes {
  text-align: justify; /* Alinhamento justificado */
  font-size: 21px;
  margin: 10px;
}

#filmes2{
text-align: center; 
}

 


  



