body{
    background-color: hotpink;
    text-align: center;
}

img{
    width: 350px;
}

img {
    border-radius: 70px;
  }

  .itemmenu{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
    color:black;
  }



